@model NotarialOffice.Models.IndexViewModel
@{
	ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
	<h3>
		@Html.ActionLink("Сменить пароль", "ChangePassword")
	</h3>
	<h3>
		@Html.ActionLink("Добавить новость", "Add", "News")
	</h3>
	<h3>
		@Html.ActionLink("Добавить услугу", "Add", "Catalog")
	</h3>
</div>
