@model IEnumerable<NotarialOffice.Models.Data.Item>

@{
	ViewBag.Title = "Каталог";
}
<h2>@ViewBag.Title</h2>
<hr>

@foreach (var item in Model)
{
	<div class="service-block" data-id="@item.Id">

		@if (User.IsInRole("Admin"))
		{
			<div class="row">
				<p>
					<span class="float-right delete-service page-block-right link-like" data-id="@item.Id">Удалить</span>
					<span class="float-right page-block-right"><a href="@string.Concat("Catalog/", item.Id, "/Edit")">Изменить</a></span>
				</p>
			</div>
		}

		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-12 col-md-8">
						<p class="service-title">@item.Title</p>
					</div>
					<div class="col-xs-12 col-md-4">
						<div class="row">
							<div class="col-xs-12">Тариф: @item.Price</div>
						</div>
						<hr />
						<div class="row">
							<div class="col-xs-12">Плата УПТХ: @item.UpthPrice</div>
						</div>
						<hr />
						<div class="row">
							<div class="col-xs-12">Итого: @item.TotalPrice</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}

@if (User.IsInRole("Admin"))
{
	<script>
		$(".delete-service").click(function() {
			var id = $(this).attr("data-id");
			$.ajax(
				{
					method : "get",
					url : "/Admin/DeleteService/" + id,
					success : function() {
						$(".service-block[data-id=" + id + "]").html("");
					}
				});
		});
	</script>
}