@model IEnumerable<NotarialOffice.Models.Data.Item>

@{
	ViewBag.Title = "Каталог";
}
<h2>@ViewBag.Title</h2>
<hr>

@foreach (var item in Model)
{
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<p class="service-title">@item.Title</p>
				</div>
				<div class="col-xs-12 col-md-6">
					<div class="row">
						<div class="col-xs-12">Тариф: @item.Price</div>
					</div>	
					<hr/>
					<div class="row">
						<div class="col-xs-12">Плата УПТХ: @item.UpthPrice</div>
					</div>		
					<hr/>
					<div class="row">
						<div class="col-xs-12">Итого: @item.TotalPrice</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}

@foreach (var item in Model)
{
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-12">
					<p class="service-title">@item.Title</p>
				</div>
			</div>
			<hr />
			<div class="col-md-4 col-xs-12">
				<div style="text-align: center;">
					<p>Тариф: @item.Price</p>
				</div>
			</div>
			<div class="col-md-4 col-xs-12">
				<div style="text-align: center;">
					<p>Плата УПТХ: @item.UpthPrice</p>
				</div>
			</div>
			<div class="col-md-4 col-xs-12">
				<div style="text-align: center;">
					<p>Итого: @item.TotalPrice</p>
				</div>
			</div>
		</div>
	</div>
}